
body, html {
    height: 100%;
    margin: 0;
    background: #fff;
    color: rgba(0,0,0,0.65);
    font-size: 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,0.65);
    font-variant: normal;
    font-style: normal;
}

.bgimg-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("img/matterhorn-sky.webp");
    min-height: 50%;
}

.logo {
    padding: 10px 0;
}

.hero {
    text-align: center;
    margin: 3rem 0 9rem;
}

.headline {
    margin: 0 auto 1rem;
    padding: 0 3rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 4.2rem;
    font-weight: 100;
    line-height: 1.3;
}

.gallery {
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery::after {
    content: "";
    clear: both;
    display: table;
}

.gallery .featured-duo {
    display: flex;
    justify-content: center
}

.gallery .featured {
    flex-direction: column;
    float: left;
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 32px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: rgba(0,0,0,0.65);
    width: 100%;
}

.gallery .featured:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: rgb(0,0,0);
}


@media (min-width: 992px) {
    .gallery .featured .img {
        width: 190px;
    }
}

@media (max-width: 720px) {
    .gallery .featured .img {
        width: calc(100% - 20px);
    }
}

@media (max-width: 576px) {
    .gallery .featured {
        width: 60%;
        left: 20%;
    }

    .gallery .featured-duo {
        flex-wrap: wrap;
    }
}

.gallery .featured .img {
    margin: 0px;
    width: 100%;
    padding-bottom: 100%;
    background-image: url("http://favim.com/orig/201107/03/art-desert-lo-fi-nature-neil-krug-photography-Favim.com-92907.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    image-rendering: crisp-edges;
}

.gallery .featured.kittyland .img {
    background-color: #f50057;
    background-image: url("");
}

.gallery .featured.kittylandorg .img {
    background-color: #3f51b5;
    background-image: url("");
}

.gallery .featured.tolar .img {
    background-color: #116E8A;
    background-image: url("img/featured/tolar.png");
    background-size: 70%;
}

.gallery .featured.your .img {
    background-color: #bbddf9;
    background-image: url("img/featured/ethereum.svg");
    background-size: 80%;
}

.gallery .featured span {
    display: block;
    font-size: 2rem;
    margin: 8px 2px;
}

.jumbotron {
    background-color: #ffffff;
    border-color: #ffffff;
    padding-top: 96px;
    padding-bottom: 96px;
}

.jumbotron h1 {
    font-family: lexia,Helvetica,Arial,sans-serif;
    font-size: 5.6rem;
    line-height: 1.3;
    font-weight: 300;
    text-align: center;
}

.landing-1 {
    min-height: 100%;
    background-color: #ccb9bc;
}

/* go down icon */

.navigate-bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

/* header caption */

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.caption {
    text-align: center;
    max-width: 700px;
    margin: 120px auto 0px auto;
    font-weight: 400;
}

.caption .logo-beta {
    height: 2.5em;
}


.logo svg {
    height: 32px;
}

.caption .border {
    background-color: #fff;
    padding-left: 75px;
    padding-right: 25px;
    color: #000;
    display: table;
}

.caption h3 {
    letter-spacing: 5px;
    font-size: 3em;
    padding: 8px 16px;
    margin-bottom: 0px;
    font-weight: 400;
}

.caption h4 {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 32px;
    padding: 8px;
    font-weight: 400;
}

/* web content */

.content {
    margin: 100px 0 100px 0;
}

/* content heading */

.content .title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding: 16px 0;
    font-weight: 400;
}

.content .title span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    position: relative;
}

.content h3.title {
    text-align: left;
    line-height: 0;
    letter-spacing: 0.3em;
    overflow: hidden;
    color: #999;
}

/*.content h3.title span:before, .content h3.title span:after {
    content: "";
    position: absolute;
    border-top: 1px solid #666;
    top: 0;
    width: 1000px;
}

.content h3.title span:after {
    right: 100%;
    margin-right: 0.5em;
}

.content h3.title span::before {
    left: 100%;
    margin-left: 0.5em;
}*/

.content .item {
    flex-grow: 1;
    margin: 1%;
    flex-direction: column;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

/* .content .item.item-blue {
     background-color: rgba(108, 160, 220, 0.65);
}

.content .item.item-green {
    background-color: rgba(0, 166, 140, 0.65);
} */

@media (max-width: 576px) {
    .content .col-xs-12 {
        margin-left: 16px;
        margin-right: 16px;
        padding: 0;
    }

    .content .col-xs-12+.col-xs-12 {
        border-top: 1px solid #999;
        padding-top: 16px;
        margin-top: 16px;
    }
}

.content .item.center-content {
    justify-content: center;
}

.content .center-content h4 {
    text-align: center;
}

.content .column .illustration-container {
    padding-top: 32px;
}

.content h4 {
    margin: 32px 32px 16px 32px;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    padding: 0;
}

.content .item-text {
    font-size: 16px;
    line-height: 1.48em;
}

.content .text {
    font-size: 16px;
    line-height: 1.48em;
}

.content .subtitle h4 {
    font-size: 16px;
    display: inline-block;
    margin: 8px 0 16px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.content .profile .name h4+a {
    margin-left: 8px;
}

.content .profile .name a+a {
    margin-left: 4px;
}

.content .profile .name .icon {
    display: inline-block;
    vertical-align: text-bottom;
}

.btn {
    font-size: 16px;
}

.icon {
    width: auto;
    height:48px;
    fill:white !important;
}

.icon-inverse {
    fill: rgba(108, 160, 220, 0.65) !important;
}

.icon-highlight {
    fill:#777 !important;
}

.icon-black {
    fill: rgba(0,0,0,0.65) !important;
}

.icon-centred {
    width:100%;
}

.icon-rounded {
    border-radius: 3px;
}

.icon-small {
    height: 24px;
}

.icon-medium {
    height: 32px;
}

.icon-large {
    height:80px;
}

.icon-huge {
    margin-top:32px;
    height:118px;
}

.icon-beta-logo {
    height: 120px;
    width: 200px;
}

.icon-hero {
    height:120px;
}

#myFooter {
    min-width: 100%;
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 2px 6px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

.btn {
    color: white;
    background-color: #00aced;
    border: none;
    width: 150px;
    display: block;
    margin-top: 10px;
    line-height: 25px;
    text-align: center;
}

#myFooter .btn {
    color: white;
    margin: 0 auto;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    .logo svg {
        height: 25px;
    }
    
    .caption .logo-beta {
        height: 1.5em;
    }

    .caption .border {
        width:100%;
        padding-left: 0;
        padding-right: 0;
    }

    .content .title {
        letter-spacing: 0;
    }

    .content .profile .name h4 {
        margin: 32px 0 0 0;
    }
    
    .content .profile .item-text {
        margin: 8px 0;
    }

    .caption h3 {
        font-size: 32px;
    }

    .caption h4 {
        font-size: 16px;
    }

}

/* Turn off parallax scrolling for tablets and phones */
@media screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
  