.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
}

.masthead.short.segment {
  min-height: 390px;
  padding: 1em 0;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 3.5em;
  font-weight: normal;
}

.masthead.short h1.ui.header {
  margin-top: 1em;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  font-style: italic;
}

.ui.vertical.stripe {
  padding: 8em 0;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui.vertical.stripe:last-child {
  padding-bottom: 0;
}

.ui.stripe.alternate {
  /* background-color: #f2f3f5; */
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}

@media only screen and (max-width: 767px) {
  .technologies .ui.tiny.image {
    margin: 0 50%;
    left: -40px;
  }
}

.partnerLogo {
  fill: #ccc;
  margin: auto;
  padding: 0 2rem;
  display: inline-flex;
  align-content: center;
  justify-items: center;
  width: 100%;
}

.partnerLogo:hover {
  fill: #999;
}

.partnerLogo svg {
  max-height: 75px;
  width: 100%;
}

.coverImage {
  opacity: 0.65;
  height: 175px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.feature ul li + li {
  margin: 1.3rem 0;
}

.ui.form .field .dropdown,
.ui.form .field input,
.ui.form .field textarea {
  border-color: black;
}

p {
  color: #000b;
}

.ui.segment.feature {
  border: none;
}

.segment h1.title {
  font-size: 4rem;
  margin: 6rem 0 3rem;
  font-weight: 400;
}

.ui.vertical.stripe p.emphasis {
  font-weight: 100;
  font-size: 1.66rem;
  margin-left: 1.66rem;
}

@media only screen and (max-width: 700px) {
  .segment h1.title {
    font-size: 3em;
    margin: 6rem 0 3rem;
  }
}

.segment.unfinished p,
.segment.unfinished h1,
.segment.unfinished h2 {
  color: lightcoral !important;
}

.segment.unfinished h2::after,
.segment.unfinished h1.title::after {
  content: "unfinished";
  font-size: 1rem;
  padding: 0 1rem;
  vertical-align: text-bottom;
}

.ui.button {
  margin-top: 2.5rem;
}
